@import 'partials/_variables';

.autocomplete__wrapper ul, .autocomplete__wrapper li {
  font-family: "nta",Arial,sans-serif;
}

.app-task-list {

    .app-task-list__items {
        padding-left: 0;

        .app-task-list__item {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;

            @media (min-width: 451px) {
                flex-direction: row;
            }

            .app-task-list__task-name {
                float: none;

                @media (min-width: 451px) {
                    margin-right: 1em;
                }
            }

            .app-task-list__tag {
                float: none;
                flex: 0 0 auto;
                margin: .75em 0 0 0;

                @media (min-width: 451px) {
                    margin: 0 0 0 auto;
                }
            }
        }
    }
}
