@import 'partials/_variables';
@import 'partials/_base';

@import 'partials/_forms';
@import 'partials/_tabular-data';
@import 'partials/_typography';

@import 'partials/_utilities';

@import 'partials/_shame';

@import 'partials/page-heading';
@import 'partials/scheme__list';

@import 'location-autocomplete.min';

// import these files last, in this order
@import 'partials/_palette';
@import 'partials/_focus';

// Task list pattern

// Spacing to the left of the task list
$task-list-indent: 35px;


.task-list {
  margin-top: 30px;
}

@media (min-width: 641px) {
  .task-list {
    margin-top: 60px;
  }
}

.task-list-section {
  display: table;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  padding-bottom: 5px;
}

@media (min-width: 641px) {
  .task-list-section {
    font-size: 24px;
    line-height: 1.25;
  }
}

.task-list-section-number {
  display: table-cell;
  padding-right: 5px;
}

@media (min-width: 641px) {
  .task-list-section-number {
    min-width: 35px;
    padding-right: 0;
  }
}

.task-list-items {
  margin-bottom: 30px;
}

@media (min-width: 641px) {
  .task-list-items {
    margin-bottom: 60px;
  }
}

.form-group textarea {
  width: 100%;
  margin-bottom: 5px;
}

.govuk-error-message {
    font-weight: 700;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    clear: both;
    color: #d4351c;
}

.task-list-item {
  border-bottom: 1px solid #bfc1c3;
  padding-top: 10px;
  padding-bottom: 10px;
}

.task-list-item:first-child {
  border-top: 1px solid #bfc1c3;
}

.task-name {
  width: 66.66667%;
  overflow-wrap: break-word;
  display: inline-block;
}

.task-status--in-progress {
  display: inline-block;
  font-family: "nta", Arial, sans-serif;
  padding: 4px 4px 4px;
  font-size: 19px;
  line-height: 1.14286;
  letter-spacing: 1px;
  float: right;
  color: #0B0C0C;
}

.task-status--completed {
  display: inline-block;
  font-family: "nta", Arial, sans-serif;
  padding: 4px 4px 4px;
  font-size: 19px;
  line-height: 1.14286;
  float: right;
}

.govuk-box-highlight{
background: #00703c;
}

.multiple-choice .form-hint{
clear: both;
padding-left: 12px;
}

/*
====================================
Fix to render radio buttons visible in IE8
====================================
*/
@media \0screen\,screen\9 {
.multiple-choice input {filter: none}
}

/*
====================================
Fix to remove links urls visible in print/pdfs
====================================
*/
@media print {

a[href]::after { content: none !important; }

header nav ul , #global-header .header-proposition a.menu {
 display: none !important;
}

 }


 /*
 ====================================
 Fix style of skip link to match GDS
 ====================================
 */

   #skiplink-container {
      background: none;
       }
   #skiplink-container .skiplink {
       display: block;
       padding: 10px 15px;
   }

   .skiplink:focus {
           background-color: #fd0;
     }
   .skiplink:active, .skiplink:focus {

       outline: 3px solid #fd0;
       outline-offset: 0;
       position: static !important;
       width: auto !important;
       height: auto !important;
       margin: inherit !important;
       overflow: visible !important;
       clip: auto !important;
       -webkit-clip-path: none !important;
       clip-path: none !important;
       white-space: inherit !important;
       text-decoration: underline;
   }
   .skiplink:link, .skiplink:visited, .skiplink:hover, .skiplink:active, .skiplink:focus {
       color: #0b0c0c !important;
   }

   .skiplink:focus{
       box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
   }

   #skiplink-container div {
       text-align: left;
       margin: 0 0;
       max-width: inherit !important;
   }
 @media (min-width: 40.0625em) {
   .skiplink {
       font-size: 16px;
   }
 }
 @media print {
    .skiplink {
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 1.2;
    }

   .skiplink:link,.skiplink:visited,.skiplink:hover,.skiplink:active,.skiplink:focus {
        color: #000;
      }
 }
 // Respect 'display cutout' safe area (avoids notches and rounded corners)
        @supports (padding: unquote("max(calc(0px))")) {
          $padding-safe-area-right: calc(#{govuk-spacing(3)} + env(safe-area-inset-right));
          $padding-safe-area-left: calc(#{govuk-spacing(3)} + env(safe-area-inset-left));

          // Use max() to pick largest padding, default or with safe area
          // Escaped due to Sass max() vs. CSS native max()
          padding-right: unquote("max(#{govuk-spacing(3)}, #{$padding-safe-area-right})");
          padding-left: unquote("max(#{govuk-spacing(3)}, #{$padding-safe-area-left})");
}

