@import 'partials/_variables';
@import 'location-autocomplete.min';

.autocomplete__wrapper ul, .autocomplete__wrapper li {
  font-family: "nta",Arial,sans-serif;
}

.govuk-summary-list {
    &.govuk-check-your-answers{
        margin-bottom: 0;
        &:last-of-type {
            margin-bottom: 1.75em;
        }
    }
}
