@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import controllers.register.routes._
@import models.Mode
@import utils.FormHelpers

@(appConfig: FrontendAppConfig, form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("investmentRegulated.title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = InvestmentRegulatedController.onSubmit(mode), 'autoComplete -> "off") {

        @components.error_summary(form.errors)

        @components.heading("investmentRegulated.heading")

        @components.input_yes_no(
            field = form("value"),
            label = messages("investmentRegulated.heading"),
            labelClass = Some("visually-hidden")
        )

        @components.submit_button()
    }
}
