@import config.FrontendAppConfig
@import uk.gov.hmrc.play.views.html._
@import controllers.$routeFile$.routes._
@import models.Mode

@(appConfig: FrontendAppConfig, form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@main_template(
    title = messages("messages__$className$__title"),
    appConfig = appConfig,
    bodyClasses = None) {

    @helpers.form(action = controllers.$routeFile$.routes.$className$Controller.onSubmit(mode), 'autoComplete -> "off") {

        @components.back_link()

        @components.error_summary(form.errors)

        @components.heading("messages__$className;format="decap"$__heading")

        @components.input_text(
          field = form("value"),
          label = messages("messages__$className;format="decap"$__heading"),
          labelClass=Some("visually-hidden")
        )

        @components.submit_button()
    }
}
